h1 
{
  text-align: center;
  font-family: comic sans MS;
  font-size: 500%;
  color: Orange;
 
}

#map-container 
{
  width: 840px;
  height: 840px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-block 
{
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
}

.map-wall-block 
{
  width: 40px;
  height: 40px;
  /* background-color: black; */
  border: 2px solid grey;
  position: absolute;
}

/* .map-dot-block {
  width: 15px; 
  height: 15px; 
  background-color: yellow; 
  border-radius: 30%; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(100%, 100%); 
 
}  */

.pac-man 
{
  object-fit: scale-down;
  object-position: center;
  width: 40px;
  height: auto;

}

body 
{
  display: felx;
  justify-content: center;
  text-align: center;

}